
.team--background{
    background-color: $second-background;
}

.team__card{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:$main-background;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__heading{
margin-bottom: 10px;
color: $second-text-color;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team__paragraph{
    color: $main-text-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__social-links{
    display: flex;
    margin-top: 16px;
    justify-content: center;

    &>li:not(:last-child){
        margin-right: 10px;
    }    
}

.team__social-icons{
    height: 44px;
    width: 44px;
    padding: 12px;
    fill:$icons-color;
    transition:$transformation;

    &:hover,
    &:focus{
        border-radius: 50%;
        overflow: visible;
        fill:$main-background;
        background-color:$accent;
    }
}

@media screen and (max-width: 767px) {
    .team{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__social-links{
            display: flex;
            justify-content: center;
        }

        &>li:not(:last-of-type) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -30px;

        &--margin{
            width: calc(50% - 30px);
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .team{
    display: flex; 
    
    &__card {    
    width: 270px;
    }

    &--margin:not(:last-of-type) {
        margin-right: 30px;
    }
}
}











