$main-text-fonts: Roboto, sans-serif;
$heading-font-size: 36px;
$main-text-color: #757575;
$second-text-color: #212121;
$main-background: #FFFFFF;
$second-background: #F5F4FA;
$third-background: #2F303A;
$accent: #2196F3;
$icons-color: #AFB1B8;
$transformation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$border-radius: 4px;
$button-active-background-color: #188CE8;